.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  font-family: 'Lobster Two', cursive;
  background-color: #7393B3;
  color: #fff;

  &__btn {
    min-width: 100px;
    max-height: 100px;
    line-height: 40px;
    font-size: 21px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #fff;
    border: 1px solid #fff;
    background-color: rgba(0,0,0,0);

    &:hover {
      cursor: pointer;
      background-color: #fff;
      color: #7393B3;
      transition: 1s;
    }
  }
}
